
body {
    width: 1366px; 
    background-image: url("images/background.png");
}

header, main {
    width: 1132px;
}

/* -----header styles----- */

header {
    position: sticky;
    top: 0; 

    height: 215px;
    text-align: center;
    margin: 20px auto 0px auto;
    
    background-color: #F3A2A4;
    font-family: 'Arial', sans-serif;
}

#cat_sillouhettes {
    display: flex;
    column-gap: 50px;

    width: 1032px;
    height: 50px;
    padding-top: 8px;
    margin: 0 auto;
}

h1 {
    color: #FFF;
    text-align: center;
    font-family: "Pixelify Sans";
    font-size: 68px;
    font-style: normal;
    font-weight: 400;
    line-height: 5px;
}

#main_nav > ul {
    list-style-type: none;

    display: flex;
    justify-content: center;
    padding-top: 10px;
}

#main_nav > ul > li {
    margin: 0 20px; 
}

#main_nav a {
    width: 130px;
    height: 50px;
    text-align: center;
    padding: 8px;

    background-color: white;
    text-decoration: none;
    border-radius: 8px;

    font-family: "Pixelify Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    color: black;
}

#main_nav a:hover {
    padding: 6px;
    font-size: 22px;
}

/* -----main styles----- */

main {
    margin: 0 auto;
    background: white;

    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 500px 500px;

}

#diary_section {
    grid-column: 1 / 3;
    grid-row: 1 / 2;

    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
}

/* -----potd div----- */

#potd_div > img {
    border: black solid 3px;
    border-radius: 3px;
}

#potd_div > p {
    text-align: center;
    font-family: "Pixelify Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    margin-top: 10px;
}

/* -----diary div----- */

#diary_div {
    width: 490px;
    height: 350px;

    display: grid;
    grid-template-columns: 245px 245px;
    grid-template-rows: 10% 90%;
    grid-row-gap: 8px;

    align-items: start;
    justify-self: center;
}

h2  {
    text-align: left;
    font-family: "Pixelify Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}

#diary_nav > ul{
    display: flex;
    padding: 0;
    margin: 0;
    margin-top: 25px;

    flex-direction: row;
    list-style-type: none;
}

#diary_nav a {
    border-radius: 10px;
    padding: 4px;
    margin: 0 0 0 10px;

    text-decoration: none;
    background-color: black;
    color: white;
}

#diary_nav a:hover {
    padding: 3px;
}

#diary_div > p {
    background-color: #FFDADB;
    width: 490px;
    height: 240px;
    padding: 10px 15px;

    border: 3px solid black;
    border-radius: 3px;

    font-family: "Aldrich", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    
    text-indent: 15px;
    line-height: 32px;  
}

/* -----about section----- */

#about_section {
    grid-column: 1 / 3;
    grid-row: 2 / 3;


    display: flex;
    justify-content: space-evenly;
    align-content: space-evenly;

    border-top:#F3A2A4 8px dotted;
    padding-top: 80px;
}

#about_paragraph {
    width: 650px;
    height: 380px;

    text-align: left;
    font-family: "Pixelify Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

#about_paragraph > p {
    line-height: 30px;
    padding-top: 10px;
}

#about_section > img {
    border: 4px black solid;
    border-radius: 25px;
}

@media only screen and (max-width:768px){
    h1 {
        font-size: 34px;
    }
    h2 {
        font-size: 18px;
    }
    p {
        font-size: 14px;
    }
    a {
        font-size: 14px;
    }
}